<div class="d-flex flex-row" style="background-color:lightslategrey; height: 100vh; width: 100vw;" (window:resize)="onWindowResize($event)">
  <div class="d-flex flex-grow-1 flex-column overflow-auto p-2" style="max-width: 300px">
    <div class="d-flex flex-row p-1">Navn<input class="flex-grow-1 pl-1" [(ngModel)]="name" (ngModelChange)="draw()"/></div>
    <div class="d-flex flex-row p-1">x=<input class="flex-grow-1" [(ngModel)]="xEqualsString" (ngModelChange)="draw()"/></div>
    {{xEqualsConstantReplaced}}
    <div class="d-flex flex-row p-1 pb-1">y=<input class="flex-grow-1" [(ngModel)]="yEqualsString" (ngModelChange)="draw()"/></div>
    {{yEqualsConstantReplaced}}
    <div class="pt-4"></div>
    <div class="d-flex flex-column pb-4" *ngFor="let constant of constants">
      <div class="d-flex flex-row">{{constant.name}}=<mat-slider  class="flex-grow-1" [min]="constant.sliderFrom" [max]="constant.sliderTo" step="1" value="1" [(ngModel)]="constant.text" (input)="onSliderInputChange($event, constant)"></mat-slider></div>
      <div class="d-flex flex-row">
        <input style="min-width: 0px" type="number" [(ngModel)]="constant.sliderFrom" (ngModelChange)="draw()"/>
        <input style="min-width: 0px" type="number" [(ngModel)]="constant.sliderTo" (ngModelChange)="draw()"/>
        <input style="min-width: 0px" type="number" [(ngModel)]="constant.text" (ngModelChange)="draw()"/>
      </div>
    </div>
    <div class="d-flex flex-row p-1 pt-3">t start=<input class="flex-grow-1"  type="number" [(ngModel)]="tStartString" (ngModelChange)="draw()"/></div>
    <div class="d-flex flex-row p-1">t slut=<input class="flex-grow-1"  type="number" [(ngModel)]="tEndString" (ngModelChange)="draw()"/></div>
    <div class="d-flex flex-row p-1">t antal stykker=<input class="flex-grow-1" type="number" max="1000" [(ngModel)]="tStepsString" (ngModelChange)="draw()"/></div>
    <!--<button (click)="draw()">Tegn linje</button>-->
    <button (click)="goFullscreen()">Fuldskærm</button>
  </div>
  <div #canvasDiv class="d-flex flex-grow-1">
      <canvas #canvas class="w-100 h-100"></canvas>
  </div>
</div>
